@page
@model ShowScanDetailsModel
@{
    ViewData["Title"] = "Детали";
}

<form>
    <div>
        <label for="field1">Адрес:</label>
        <p id="field1">@ShowScanDetailsModel.ScaningModelArray.IpAdress</p>
    </div>
    <div>
        <label for="field2">Дата и время запроса:</label>
        <p id="field2">@ShowScanDetailsModel.ScaningModelArray.DateScan</p>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">номер порта</th>
                    <th scope="col">тип порта</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ShowScanDetailsModel.ScaningModelArray.DitailsPorts())
                {
                    <tr>
                        <td>@item.NumberPort</td>
                        <td>@item.TypePort</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

